version: '3.5'
services:
  theproxy:
    container_name: the_proxy
    image: nginx:alpine
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
      - ./servers.json:/servers.json
      - ./entrypoint.sh:/entrypoint.sh
      - /var/run/docker.sock:/tmp/docker.sock
    ports:
      - 80:80
    # restart: always
    networks:
      - nginx-proxy
    entrypoint: /entrypoint.sh

networks:
  nginx-proxy:
    name: nginx-proxy
